/*font contato*/
@font-face { 	
     font-family: "nova"; 	
     src: url("../fonts/Roboto-Thin.ttf"); 	
 }
@font-face{

	font-family:'nova2';
	src: url('../fonts/Roboto-CondensedItalic.ttf');
}
/*background*/
body{

	background:mediumvioletred;
}

/*div mestre*/
.container{
	margin-top:40px;

}
/*dis*/
.col-lg-12{
   background:orangered;
   border:none;
   border-radius:3px;

}
.col-lg-6{
	background:orange;
	height:220px;
	padding:30px;
	border:none;
	border-radius:3px;
}
	
.col-lg-4{

	background:blue;
	height:120px;
	padding:10px;
	font-family:'nova',arial;
	border-radius:7px;
	border:none;

}

div#col12{
    height:220px;
    padding:40px;
    font-size:14pt;
    color:#fff;
 }
b#col12:hover{
	color:orange;
}

div#lg12{
    height:130px;
    text-align:center;
    padding-top:50px;
}
div#lin{
   padding:10px;
   color:#fff;
   font-size:17px;
   font-family:'nova2',serif;
}
/*divs linha*/
.row{
	margin-bottom:50px;
}
/*img*/
.img-circle{
	height:120px;
	margin:0 auto;
	width:130px;
}

/*testos*/
p{
	text-align:justify;
	color:#fff;
	font-size:14pt;
}
p:hover{
   color:mediumvioletred;
}
p#contato:hover{
  color:orange;
}